---
import { CategoriesSlugSchema, CategorySchema, PostsSchema } from '@/types';
import CoreLayout from '@/layouts/CoreLayout.astro';
import PostTags from '@/components/ui/Taxonomies/PostTags.astro';
import PostCard from '@/components/blog/PostCard.astro';
export async function getStaticPaths() {
  const res = await fetch(
    `${import.meta.env.API_URL}/tags?_fields=slug,name&per_page=20`
  );
  const json = await res.json();
  const tags = CategoriesSlugSchema.parse(json);
  return tags.map((tag) => ({
    params: { slug: tag.slug },
  }));
}
const { slug } = Astro.params;
const tagUrl = `${import.meta.env.API_URL}/tags?slug=${slug}&per_page=50`;
const tagRes = await fetch(tagUrl);
const tagJson = await tagRes.json();
const tag = CategorySchema.parse(tagJson[0]);
const postsUrl = `${import.meta.env.API_URL}/posts?tags=${tag.id}&per_page=50`;
const postsRes = await fetch(postsUrl);
const postsJson = await postsRes.json();
const posts = PostsSchema.parse(postsJson);
---

<CoreLayout
  title={`Posts en la etiqueta: ${tag.name}`}
  subtitle={`Posts en la etiqueta: ${tag.name}`}
  bgImage={posts[0]?.featured_images?.full?.url || ''}
>
  <PostTags />
  <div class="columns-1 md:columns-2 lg:columns-3 gap-5 my-8 space-y-5">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</CoreLayout>
