---
import { DirectusHotNewsResponseSchema } from '@/types';
const newURL = `${import.meta.env.API_ITEMS}/hot_news`;
const newResponse = await fetch(newURL);
const newJson = await newResponse.json();
const newData = DirectusHotNewsResponseSchema.parse(newJson);
const { data: dataItems } = newData;
---

<!----------------------- Ticker de Noticias Rápidas ----------------------->
<div
  class="mt-0 md:mt-20 bg-neon-yellow text-dark py-2 border-b-4 border-neon-yellow overflow-hidden font-mono font-bold text-lg flex items-center"
>
  <div class="animate-scroll">
    {
      dataItems.map(
        (item) =>
          item.status === 'published' && (
            <a
              href={item.article_url}
              target="_blank"
              class="inline-flex items-center mx-2"
            >
              <p class="mx-4 flex items-center space-x-2">
                <span class="material-symbols-outlined">{item.icon}</span>
                {item.title}
                <span>{item.subtitle}</span>
              </p>
            </a>
          )
      )
    }
  </div>
</div>
