---
import {
  DirectusCategoriesSlugSchema,
  DirectusCategorySchema,
  DirectusGalleriesCollectionResponseSchema,
} from '@/types';
import CoreLayout from '@/layouts/CoreLayout.astro';
import PostTags from '@/components/ui/Taxonomies/PostTags.astro';
import PostCard from '@/components/galleries/PostCard.astro';

export async function getStaticPaths() {
  const res = await fetch(`${import.meta.env.API_ITEMS}/galleries_tags`);
  const json = await res.json();
  const tags = DirectusCategoriesSlugSchema.parse(json.data);
  return tags.map((tag) => ({
    params: { slug: tag.slug },
  }));
}

const { slug } = Astro.params;
const tagUrl = `${import.meta.env.API_ITEMS}/galleries_tags?filter[slug][_eq]=${slug}`;
const tagRes = await fetch(tagUrl);
const tagJson = await tagRes.json();
const tag = DirectusCategorySchema.parse(tagJson.data[0]);

const postsUrl = `${import.meta.env.API_ITEMS}/galleries?filter[gallery_tag][_eq]=${tag.id}&fields=*,gallery_category.*,gallery_tag.*,author.*,gallery.directus_files_id.id,gallery.directus_files_id.filename_disk,gallery.directus_files_id.filename_download,gallery.directus_files_id.title,gallery.directus_files_id.type,gallery.directus_files_id.width,gallery.directus_files_id.height,gallery.directus_files_id.filesize`;
const postsRes = await fetch(postsUrl);
const postsJson = await postsRes.json();
const posts = DirectusGalleriesCollectionResponseSchema.parse(postsJson);

const { data: postTag } = posts;
---

<CoreLayout
  title={`Posts en la etiqueta: ${tag.name}`}
  subtitle={`Posts en la etiqueta: ${tag.name}`}
  bgImage={postTag[0]?.cover_image || ''}
>
  <PostTags />
  <div class="columns-1 md:columns-2 lg:columns-3 gap-5 my-8 space-y-5">
    {postTag.map((post) => <PostCard post={post} />)}
  </div>
</CoreLayout>
